extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

       
        h1 Blaine Ruttan

       
        p Full Stack JavaScript Developer


        .about-bio

        
          p At Great Day Designs, our passion is create an online platform that reflects your vision and values to your future and current clients. You have passion and a vision to meet the needs of your customers. You are a pro at what you do. I am here to help you show that passion and your expertise to those who you can serve.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 555-555-1234
          li blaine@email.com

        a.btn-link(href='https://www.linkedin.com/in/blaine-ruttan-39b40761/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/BlaineR41' target='_blank') GitHub
        a.btn-link(href='https://www.instagram.com/blainesammie/?hl=en' target='_blank') Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back